<template>
  <v-container>
    <v-row class="mb-1 pb-1">
      <v-col sm="12" md="12">
        <v-img
          class="align-end"
          height="300px"
          style="position: relative"
          src="/img/img-01.jpg"
        >
          <v-avatar size="100" color="red" class="align-av-img">
            <v-icon color="white" style="font-size: 50px">
              mdi-account
            </v-icon>
          </v-avatar>
        </v-img>
      </v-col>
    </v-row>

    <v-row>
      
      <!-- Detalhes -->
      <v-col md="12" sm="12">
        <div class="centralize-row" style="justify-content: start">
          <v-icon color="amber">
            mdi-star
          </v-icon>

          <b class="amber--text ml-1 mr-3">5</b> 

          <span>(0 Avaliações)</span>
        </div>
      </v-col>

      <v-col md="12" sm="12">
        <h1 class="title title-res mb-2">{{ Companies.data.nomefantasia }}</h1>
        <p>{{ Companies.data.descricao }}</p>
      </v-col>

      <v-col md="12" sm="12">
        <div>
          {{ tempoEntrega.inicio }}-{{ tempoEntrega.fim }} min | 0 km 
          <v-chip
            class="ma-2"
          >
            Entrega: R$ {{ Companies.data.valorentrega.toFixed(2).replace('.', ',') }}
          </v-chip>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col sm="12" md="12">
        <div class="title mb-2">
          Cardápio
        </div>
      </v-col>

      <!-- Pratos -->
      <v-col v-if="!loadListProducts" v-for="(food, i) of Products.list" :key="'food-'+i" sm="12" md="4">
        <CardResume :item="food" :category="Categories.list"></CardResume>
      </v-col>

      <v-col v-if="loadListProducts" md="4" v-for="(c, a) of Array(4)" :key="'sk-card-'+a">
        <v-skeleton-loader
          max-width="400"
          type="image"
        ></v-skeleton-loader>
      </v-col>
    </v-row>

  </v-container>
</template>
<script>
import CardResume from '@/components/restaurants/CardsResume'
import CompanyMixin from '@/modules/requests/Company'
import ProductMixin from '@/modules/requests/Product'
import CategoryMixin from '@/modules/requests/Category'

export default {
  name: 'Details',
  components: {
    CardResume
  },
  mixins: [ CompanyMixin, ProductMixin, CategoryMixin ],
  computed: {
    tempoEntrega() {
      let a = Math.floor(Math.random() * 100 + 1)
      , b = 0
      do {
        b = Math.floor(Math.random() * a + 10)
      } while (b > a)

      return {
        inicio: a,
        fim: b
      }
    }
  },
  async created() {
    this.getCompany({ id: this.$route.params.id })
    await this.listCategories()
    this.listProducts({ empresa: this.$route.params.id })
  }
}
</script>

<style scoped>
.title-res {
  font-size: 2.5em !important;
}
.align-av-img {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
}
</style>