<template>
  <div>
    <v-container v-if="false" class="fill-height" style="height: 15vh">
      <v-row justify="center" align="center">
        <v-col v-for="cat of Categories.list" :key="'cat-' + cat" sm="4" md="1">
          <div class="centralize sel-cat" @click="selectCategory(cat)">
            <v-avatar color="red" size="62">
              <!-- imagem -->
              <v-icon>
                mdi-food-fork-drink
              </v-icon>
            </v-avatar>
            <p class="mb-0 mt-1">{{ cat.nome }}</p>
          </div>
        </v-col>
      </v-row>
    </v-container>
    
    
    <v-container>
      
      <Buscar @searching="search($event)"></Buscar>

      <v-row>
        <v-col md="12" sm="12">
          <div class="title mb-1">Restaurantes</div>
        </v-col>

        <v-col sm="12" md="12">

          <v-row v-if="!loadListCompanies"> 
            <v-col v-for="(card, i) of Companies.filter" :key="'card-'+i" md="3">
              <RestaurantsCards :company="card"></RestaurantsCards>
            </v-col>
          </v-row>

          <!-- Skeleton loader -->
          <v-row v-if="loadListCompanies">
            <v-col md="3" v-for="(c, a) of Array(4)" :key="'sk-card-'+a">
              <v-skeleton-loader
                max-width="300"
                type="card"
              ></v-skeleton-loader>
            </v-col>
          </v-row>
          
        </v-col>
      </v-row>
    </v-container>

  </div>
</template>

<script>
import RestaurantsCards from '@/components/restaurants/Cards'
import Buscar from '@/components/Buscar'

import mixLocation from '@/mixins/Location'
import CategoryMixin from '@/modules/requests/Category'
import CompanyMixin from '@/modules/requests/Company'

export default {
  name: 'List',
  components: {
    RestaurantsCards,
    Buscar
  },
  mixins: [ mixLocation, CategoryMixin, CompanyMixin ],
  data() {
    return {
      filter: [],
      categories: [
        'Promoções',
        'Pizza',
        'Lanches',
        'Japonesa',
        'Brasileira',
        'Chinesa',
        'Saudável'
      ]
    }
  },
  async created () {
    try {
      this.getLocation()
      this.listCategories()
      await this.listCompanies()
      
      this.Companies.filter = JSON.parse(JSON.stringify(this.Companies.list))
      if ('q' in this.$route.query) {
        this.Companies.filter = this.Companies.filter.filter(e => e.nomefantasia.toLowerCase().includes(this.$route.query.q.toLowerCase()))
      }

    } catch (err) {
      console.error(err)
    }
  },
  methods: {
    selectCategory(cat) {
      if (!this.filter.includes(cat.nome)) {
        this.filter.push(cat.nome)
      }
      else {
        this.filter = this.filter.filter(e => e != cat.nome)
      }
    },
    search(s) {
      let aux = JSON.parse(JSON.stringify(this.Companies.list))
      if (s == '') {
        this.Companies.filter = aux
        return;
      }
      this.Companies.filter = aux.filter(e => e.nomefantasia.toLowerCase().includes(s.toLowerCase()))
    }
  }
}
</script>

<style scoped>
.sel-cat {
  cursor: pointer;
} 
</style>