<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      dark
    >
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link @click="logout">
          <v-list-item-action>
            <v-icon>mdi-reply</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Sair</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      color="red"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Delivery</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-content>
          <v-row>
            <v-col md="6" sm="12">
              <CadEmpresa></CadEmpresa>
            </v-col>
            <v-col md="6" sm="12">
              <CadProdutos></CadProdutos>
            </v-col>
          </v-row>
        </v-content>
      </v-container>
    </v-main>

    <v-footer app>
      <span>&copy; 2020 - Delivery</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import UserMixin from '@/modules/requests/User'

import CadEmpresa from '@/pages/admin/CadastroEmpresa'
import CadProdutos from '@/pages/admin/CadastroProduto'

export default {
  name: 'AdminPanel',
  components: {
    CadEmpresa,
    CadProdutos
  },
  props: {
    source: String,
  },
  mixins: [UserMixin],
  data: () => ({
    drawer: null,
  }),
  computed: {
    ...mapGetters('User', ['getUser'])
  },
  async created () {

    if (Object.keys(this.getUser).length == 0) {
      await this.setUser(JSON.parse(localStorage.getItem('app_user')))
    }
  },
}
</script>