<template>
  <div>
    <v-parallax dark src="../assets/abstract.jpg" height="300">
      <v-row justify="center" align="center">
        <v-col class="shrink">
          <h1 class="main-title">Fácil. Rápido. Perfeito.</h1>
        </v-col>
      </v-row>
    </v-parallax>

    <!-- <v-container class="fill-height bg-main" style="height: 40vh">
      
    </v-container> -->

    <v-container>
      <div class="title mb-1">Descubra restaurantes perto de você</div>
      
      <Buscar @searching="search($event)"></Buscar>

      <v-row>
        <v-col>
          <v-img src="/img/landing-banner-1.webp" aspect-ratio="2"></v-img>
        </v-col>
        <v-col>
          <v-img src="/img/landing-banner-2.webp" aspect-ratio="2"></v-img>
        </v-col>
        <v-col>
          <v-img src="/img/landing-banner-3.webp" aspect-ratio="2"></v-img>
        </v-col>
      </v-row>

      <v-row>
        <v-col md="12" sm="12">
          <div class="title mb-1">Os melhores do Delivery</div>

          <v-row>
            <v-col v-for="(card, i) of Companies.list.filter((e, i) => i < 4)" :key="'card-'+i" md="3">
              <RestaurantsCards :company="card"></RestaurantsCards>
            </v-col>
          </v-row>
          
          <!-- Skeleton loader -->
          <v-row v-if="loadListCompanies">
            <v-col md="3" v-for="(c, a) of Array(4)" :key="'sk-card-'+a">
              <v-skeleton-loader
                max-width="300"
                type="card"
              ></v-skeleton-loader>
            </v-col>
          </v-row>

        </v-col>
      </v-row>

      <v-row>
        <v-col sm="12" md="12">
          <div class="title mb-1">Explore por cidades</div>
        </v-col>

        <v-col v-for="cidade of cidades" :key="cidade" md='3' sm="6">
          <v-btn text>
            {{ cidade }}
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import RestaurantsCards from '@/components/restaurants/Cards'
import Buscar from '@/components/Buscar'
import CompanyMixin from '@/modules/requests/Company'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'App',
  components: {
    RestaurantsCards,
    Buscar
  },
  mixins: [ CompanyMixin ],
  data() {
    return {
      cidades: [
        'Belo Horizonte',
        'Brasília',
        'Campinas',
        'Rio de Janeiro',
        'São Paulo',
        'Salvador',
        'Fortaleza',
        'Manaus',
        'Curitiba',
        'Recife',
        'Porto Alegre',
        'Belém',
        'Goiânia',
        'Guarulhos'
      ]
    }
  },
  async created () {
    await this.listCompanies()

    if (Object.keys(this.getUser).length == 0) {
      await this.setUser(JSON.parse(localStorage.getItem('app_user')))
    }
  },
  computed: {
    ...mapGetters('User', ['getUser'])
  },
  methods: {
    ...mapActions('User', ['setUser']),
    search(s) {
      this.$router.push('/app/list?q=' + s)
    }
  }
}
</script>

<style scoped>
.bg-main {
  background-image: url('../assets/abstract.jpg');
  background-position: center;
  background-size: cover;
}
.main-title {
  color: white;
  font-weight: bolder;
  font-size: 3em;
}
</style>