<template>
  <v-app id="inspire">
    <v-content class="bgzinho">
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="dark"
                dark
                flat
              >
                <v-toolbar-title>Login</v-toolbar-title>
              </v-toolbar>
             
                
              <v-card-text v-if="showLogin">
                <v-form >
                  <v-text-field
                    label="Email"
                    name="login"
                    type="text"
                    v-model="form.email"
                  />

                  <v-text-field
                    id="password"
                    label="Senha"
                    name="password"
                    type="password"
                    v-model="form.pass"
                  />
                </v-form>
              </v-card-text>
                

              <v-card-actions v-if="showLogin">
                <v-spacer />
                <v-btn text large color="red" @click="showLogin = !showLogin">Cadastrar-se</v-btn>
                <v-btn large @click="login()" color="black" dark>Entrar</v-btn>
              </v-card-actions>

              <v-form v-if="!showLogin">
                <v-card-text>

                    <v-row>
                      <v-col md="12" sm="12">
                        <v-text-field
                          v-model="formCad.nome"
                          label="Nome"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col sm="12" md="6">
                        <v-text-field
                          v-model="formCad.cpf"
                          label="CPF"
                          v-mask="'###.###.###-##'"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col sm="12" md="6">
                        <v-text-field
                          v-model="formCad.dataNascimento"
                          label="Data de Nascimento"
                          v-mask="'##/##/####'"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col md="6" sm="12">
                        <v-text-field
                          v-model="formCad.email"
                          label="E-mail"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col md="6" sm="12">
                        <v-text-field
                          v-model="formCad.senha"
                          label="Senha"
                          type="password"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col md="12" sm="12">
                        <v-text-field
                          v-model="formCadEnd.logradouro"
                          label="Logradouro"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col md="3" sm="12">
                        <v-text-field
                          v-model="formCadEnd.numero"
                          label="Numero"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col md="9" sm="12">
                        <v-text-field
                          v-model="formCadEnd.complemento"
                          label="Complemento"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col md="3" sm="4">
                        <v-text-field
                          v-model="formCadEnd.estado"
                          label="UF"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col md="9" sm="12">
                        <v-text-field
                          v-model="formCadEnd.cidade"
                          label="Cidade"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  
                </v-card-text>

                <v-card-actions>
                  <v-spacer />
                  <v-btn @click="showLogin = true" large text color="dakr">Voltar</v-btn>
                  <!-- <v-btn @click="clear" large text color="red">Limpar</v-btn> -->
                  <v-btn class="mr-4" dark large @click="submit" color="black">Cadastrar</v-btn>
                </v-card-actions>

              </v-form>

            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import UserMixin from '@/modules/requests/User'

export default {
  name: 'Login',
  mixins: [ UserMixin ],

  props: {
    source: String,
  },

  data () {
    return {
      showLogin: true,
      form: {
        email: '',
        pass: ''
      },
      formCad: {
        cpf: "",
        nome: "",
        dataNascimento: "",
        email: "",
        senha: ""
      },
      formCadEnd: {
        logradouro: '',
        numero: '',
        complemento: '',
        estado: '',
        cidade: ''
      },
      menu2: false,
      name: '',
      email: '',
      pass: '',
    }
  },
  methods: {
    async login() {
      try {
        if (this.form.email == '') {
          this.$swal.fire('Autenticação', 'Email inválido', 'error');
          // handler
        }
        if (this.form.pass == '') {
          //handler
          this.$swal.fire('Autenticação', 'Senha inválida', 'error');
        }

        await this.auth({ email: this.form.email, password: this.form.pass })
        
      } catch (err) {
        console.log(err)
      }
    },
    async submit () {
      let err = 0
      await Object.keys(this.formCad).map(e => {
        if (this.formCad[e] == '') {
          err +++          
          this.$swal.fire('Cadastro', 'Campos inválidos', 'error');
        }
      })

      if (err == 0)
        await this.register(this.formCad, this.formCadEnd)
    },
    clear () {
      this.name = ''
      this.email = ''
      this.pass = ''

      //this.$refs.observer.reset()
    },
  }

}
</script>

<style scoped>
.bgzinho {
  background-image: url('../assets/abstract.jpg');
  background-size: cover;
  background-position: center;
}
</style>