<template>
  <v-app>
    <Menu></Menu>
    
    <v-content style="margin-top: 70px">
      <router-view></router-view>
    </v-content>
    
    <v-footer style="margin-top: 10vh" dark color="red accent-3">
      <v-container class="fill-height">
        <v-row>
          <v-col>
            <div class="title mb-1">Delivery</div>
            <v-btn text>
              Fale Conosco
            </v-btn>
          </v-col>

          <v-col>
            <div class="title mb-1">Descubra</div>
            <v-btn text>
              Como pedir
            </v-btn>
            <v-btn text>
              Cadastre seu restaurante
            </v-btn>
          </v-col>

          <v-col>
            <div class="title mb-1">Social</div>
            <v-btn icon>
              <v-icon>
                mdi-facebook
              </v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>
                mdi-instagram
              </v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>
                mdi-twitter
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import Menu from '@/components/Menu'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Panel',
  components: {
    Menu
  },
  async created() {
    if (Object.keys(this.getUser).length == 0) {
      await this.setUser(JSON.parse(localStorage.getItem('app_user')))
    }
  },
  computed: {
    ...mapGetters('User', ['getUser'])
  },
  methods: {
    ...mapActions('User', ['setUser']),
  }
}
</script>