<template>
  <v-container>
    <v-row>
      <v-col sm="12" md="12">
        <div class="headline mb-2">Carrinho</div>
      </v-col>
    </v-row>

    <v-card class="mx-0" width="100%" outlined>
      <v-row class="ml-2 mr-2">
        <v-col sm="12" md="12">
          <div class="overline ml-0">Entregar no endereço:</div>
        </v-col>
        <v-col sm="auto" md="auto">
          <v-avatar tile color="black">
            <v-icon color="white">
              mdi-map-marker
            </v-icon>
          </v-avatar>
        </v-col>

        <v-col>
          <small>{{ endereco ? endereco.complemento : '-' }}</small>
          <p class="mb-1">{{ endereco ? endereco.logradouro + ', ' + endereco.numero : '-'}}</p>
        </v-col>

        <v-col>
          <p class="mb-0">Entrega padrão</p>
          <small>
            <v-chip
              small
              class="ma-2"
              color="success"
            >
              R$ {{ cartValueTotal }}
            </v-chip>
          </small>
        </v-col>

        <v-col md="auto">
          <!-- <v-btn text color="red"> 
            Alterar
          </v-btn> -->
        </v-col>
      </v-row>
    </v-card>

    <ListCart class="mt-3"></ListCart>

    <v-row class="mt-5">
      <v-col sm="12" md="12">
        <div class="headline mb-2">Pagamento</div>
      </v-col>
    </v-row>

    <v-card outlined>
      <v-row class="ml-2 mr-2">
        <v-col sm="12" md="12">
          <div class="overline ml-0">Meio de pagamento:</div>
        </v-col>
        <v-col sm="12" md="12">
          <v-radio-group v-model="radios" :mandatory="false">
            <v-radio label="Á Vista" value="radio-1"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
    </v-card>

    <v-btn color="success" @click="payment()" :loading="loadingPayment" large class="mt-5 mr-auto">
      Finalizar Pagamento
    </v-btn>
    
  </v-container>
</template>

<script>
import ListCart from '@/components/payment/ListCart'
import { mapGetters } from 'vuex'

export default {
  name: 'Payment',
  components: {
    ListCart
  },
  data() {
    return {
      loadingPayment: false,
      radios: null
    }
  },
  computed: {
    ...mapGetters('User', ['getUser']),
    ...mapGetters('Cart', ['cartValueTotal', 'cart']),
    endereco() {
      return this.getUser.endereco.length > 0 ? this.getUser.endereco[0] : null
    }
  },
  methods: {
    async payment() {
      this.loadingPayment = true
      await new Promise(r => setTimeout(r, 3000));
      this.$swal.fire('Sucesso', 'Pedido Criado com sucesso!', 'success')

      await new Promise(r => setTimeout(r, 1000));
      this.$router.push('/app/home')
      this.loadingPayment = false
    }
  }
}
</script>