<template>
  <v-row>
    <v-col md="10" sm="12">
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Busque por um restaurante"
        class="hidden-sm-and-down"
        v-model="search"
      />
    </v-col>
    <v-col md="2" sm="12">
      <v-btn large block dark @click="searching()">Pesquisar</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Buscar",
  data() {
    return {
      search: ''
    }
  },
  created() {
    if ('q' in this.$route.query) {
      this.search = this.$route.query.q
    }
  },
  methods: {
    searching() {
      this.$emit('searching', this.search)
    }
  }
}
</script>

