<template>
  <v-app-bar
    fixed
    color="white"
    flat
  >
    <v-container class="fill-height">

      <v-btn text href="/app/home">
        <v-img src="../assets/logoapp.png" width="50">

        </v-img>
      </v-btn>

      <v-toolbar-title>
        Delivery
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn to="/app/list" text v-if="$route.name == 'App'">
        Restaurantes
      </v-btn>

      <div class="centralize-row" v-if="$route.name != 'App'">
        <small class="mr-2">Endereço:</small>
        <p class="mb-0">
          <v-icon>
            mdi-map-marker
          </v-icon>

          Próximo de {{ getUser.endereco.length > 0 ? getUser.endereco[0].logradouro : '-'}}
        </p>
        <v-btn icon class="ml-1">
          <v-icon>
            mdi-chevron-down
          </v-icon>
        </v-btn>
      </div>

      
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn text v-on="on">
            <v-icon>mdi-account</v-icon>
            {{ getUser.nome }}
          </v-btn>
        </template>
        <v-list>
          <v-list-item>
            <v-btn @click="logout" block text>
              <v-icon>
                mdi-reply
              </v-icon>
              Sair
            </v-btn>
          </v-list-item>
        </v-list>
      </v-menu>
      

      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn text v-on="on">
            <v-icon>mdi-cart</v-icon>
            Carrinho
            <v-badge
              v-if="countCart > 0"
              class="ml-2"
              color="red"
              :content="countCart"
            >
            </v-badge>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in cart"
            :key="'prato-cart-'+index"
          >
            <v-list-item-content>
              <div class="overline mb-4">Categoria</div>
              <v-list-item-title class="headline mb-1">{{ item.nome }}</v-list-item-title>
              <v-list-item-subtitle>{{ item.descricao }}</v-list-item-subtitle>
            </v-list-item-content>
            
          </v-list-item>
          <v-list-item>
            <v-btn :disabled="countCart == 0" to="/app/payment" color="success" block large>
              Finalizar Compra
            </v-btn>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-container>
  </v-app-bar>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import UserMixin from '@/modules/requests/User';

export default {
  name: 'Menu',
  mixins: [ UserMixin ],
  data() {
    return {
      items: [
        'Prato 1',
        'Prato 2'
      ]
    }
  },
  computed: {
    ...mapGetters('User', ['getUser']),
    ...mapGetters('Cart', ['cartValueTotal', 'cart', 'countCart'])
  },
  async created() {
    if (Object.keys(this.getUser).length == 0) {
      await this.setUser(JSON.parse(localStorage.getItem('app_user')))
    }
  }
}
</script>