<template>
  <v-card
    hover
    :to="`/app/restaurant/${ company.id }`"
    class="mx-0 px-0"
  >
    <v-img
      class="white--text align-end"
      height="200px"
      src="/img/img-02.jpg"
    >
      <v-card-title>{{ company.nomefantasia }}</v-card-title>
    </v-img>

    <v-card-subtitle class="pb-0">
      <span>
        <v-icon text color="amber">
          mdi-star
        </v-icon>
        <b class="amber--text ml-2">5</b>
      </span>
       - 0 km
      
      </v-card-subtitle>

    <v-card-text class="text--primary">
      <div>30-60 min</div>
    </v-card-text>

  </v-card>
</template>

<script>
export default {
  name: 'Cards',
  props: {
    company: {
      type: Object,
      required: true
    }
  }
}
</script>