<template>
  <v-card
    class="mx-0 px-0"
    hover
    outlined
  >
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">{{ categoria.nome }}</div>
        <v-list-item-title class="headline mb-1">{{ item.nome }}</v-list-item-title>
        <v-list-item-subtitle>{{ item.descricao }}</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar
        tile
        size="80"
        color="grey"
      >
        <v-img src="/img/img-03.jpg" aspect-ratio="2">
          
        </v-img>
      </v-list-item-avatar>
    </v-list-item>

    <v-card-actions>
      <div class="title">R$ {{ item.valor.toFixed(2).replace('.', ',') }}</div>
      <v-btn text color="red" @click="addCart()">Adicionar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'


export default {
  name: 'Resume',
  props: {
    item: {
      type: Object,
      required: true
    },
    category: {
      type: Array,
      required: true
    }
  },
  computed: {
    categoria () {
      return this.category.filter(e => e.id === this.item.categoriaId)[0]
    }
  },
  methods: {
    ...mapActions('Cart', ['addItenCart']),
    async addCart() {
      await this.addItenCart(this.item)
      this.$swal.fire('Carrinho', 'Item adicionado!', 'success')
    }
  }
}
</script>

<style scoped>

</style>