<template>
  <router-view>
    
  </router-view>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: 'Main',

  components: {
  },

  data: () => ({
    //
  }),

  methods: {
    ...mapActions(['createAxios'])
  },

  async created() {
    await this.createAxios()
  }
};
</script>


<style>
.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centralize-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>