<template>
  <v-card class="pa-5" outlined>
    <v-card-title>Cadastro de Empresa</v-card-title>
    
    <v-tabs>
      <v-tab>Lista</v-tab>
      <v-tab>Cadastro</v-tab>

      <v-tab-item class="mt-5">
        <v-data-table
          :headers="headers"
          :items="getListCompanies"
          :items-per-page="10"
          class="elevation-1"
        ></v-data-table>
      </v-tab-item>
      <v-tab-item class="mt-5">
        <v-form>
          <v-text-field
            v-model="form.razaosocial"
            dense
            label="Razão Social"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="form.nomefantasia"
            dense
            label="Nome Fantasia"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="form.cnpj"
            dense
            label="CNPJ"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="form.valorEntrega"
            dense
            label="Valor Entrega"
            required
            outlined
          ></v-text-field>
          
          <v-text-field
            v-model="form.descricao"
            dense
            label="Descrição"
            required
            outlined
          ></v-text-field>

          <v-btn
            color="success"
            @click="submit()"
          >
            Salvar
          </v-btn>
        </v-form>
      </v-tab-item>

  </v-tabs>
    
    
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CompanyMixin from '@/modules/requests/Company'

export default {
  name: 'CadEmpresa',
  mixins: [ CompanyMixin ],
  data() {
    return {
      form: {
        razaosocial: '',
        nomefantasia: '',
        cnpj: '',
        id: 0,
        descricao: '',
        valorentrega: 0
      },
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Nome Fantasia', value: 'nomefantasia' },
        { text: 'Razão Social', value: 'razaosocial' },
        { text: 'CNPJ', value: 'cnpj' },
      ]
    }
  },
  computed: {
    ...mapGetters('Company', ['getListCompanies'])
  },
  methods: {
    async submit () {
      await this.storeCompany(this.form)
    }
  }
}
</script>