<template>
  <v-card class="pa-5" outlined>
    <v-card-title>Cadastro de Produto</v-card-title>

    <v-tabs>
      <v-tab>Lista</v-tab>
      <v-tab>Cadastro</v-tab>

      <v-tab-item class="mt-5">
        <v-select
          v-model="list.empresaId"
          dense
          :items="getListCompanies"
          label="Empresa"
          item-text="nomefantasia"
          item-value="id"
          outlined
        ></v-select>

        <v-data-iterator
          v-if="Products.list.length > 0"
          :items="Products.list"
          :items-per-page.sync="itemsPerPage"
          :page="page"
          hide-default-footer
          :loading="loadListProducts"
        >
          <template v-slot:header>
            <v-toolbar
              dark
              color="red darken-3"
              class="mb-1"
            >
              <template v-if="$vuetify.breakpoint.mdAndUp">
                <v-select
                  v-model="sortBy"
                  flat
                  solo-inverted
                  dense
                  hide-details
                  :items="keys"
                  prepend-inner-icon="mdi-sort"
                  label="Sort by"
                ></v-select>
                <v-spacer></v-spacer>
                <v-btn-toggle
                  v-model="sortDesc"
                  mandatory
                >
                  <v-btn
                    small
                    depressed
                    color="red"
                    :value="false"
                  >
                    <v-icon>mdi-arrow-up</v-icon>
                  </v-btn>
                  <v-btn
                    small
                    depressed
                    color="red"
                    :value="true"
                  >
                    <v-icon>mdi-arrow-down</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </template>
            </v-toolbar>
          </template>

          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.nome"
                cols="12"
                sm="12"
                md="6"
                lg="6"
              >
                <v-card elevation="4">
                  <v-card-title class="subheading font-weight-bold">{{ item.nome }}</v-card-title>

                  <v-divider></v-divider>

                  <v-list dense>
                    <v-list-item
                      v-for="(key, index) in filteredKeys"
                      :key="index"
                    >
                      <v-list-item-content :class="{ 'blue--text': sortBy === key.value }">{{ key.text }}:</v-list-item-content>
                      <v-list-item-content class="align-end" :class="{ 'blue--text': sortBy === key.value }">
                        {{ key.value == 'valor' ? 'R$ ' + item[key.value].toFixed(2) : (key.value == 'empresaId' ? Companies.list.filter(e => e.id == item[key.value])[0].nomefantasia : item[key.value] ) }}
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-card>
              </v-col>
            </v-row>
          </template>

          <template v-slot:footer>
            <v-row class="mt-2" align="center" justify="center">
              <span class="grey--text">Items per page</span>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    dark
                    text
                    color="primary"
                    class="ml-2"
                    v-bind="attrs"
                    v-on="on"
                  >
                    {{ itemsPerPage }}
                    <v-icon>mdi-chevron-down</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(number, index) in itemsPerPageArray"
                    :key="index"
                    @click="updateItemsPerPage(number)"
                  >
                    <v-list-item-title>{{ number }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>

              <v-spacer></v-spacer>

              <span
                class="mr-4
                grey--text"
              >
                Page {{ page }} of {{ numberOfPages }}
              </span>
              <v-btn
                fab
                dark
                small
                color="blue darken-3"
                class="mr-1"
                @click="formerPage"
              >
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
              <v-btn
                fab
                dark
                small
                color="blue darken-3"
                class="ml-1"
                @click="nextPage"
              >
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn>
            </v-row>
          </template>
        </v-data-iterator>
      </v-tab-item>
        
      <v-tab-item class="mt-5">
        <v-form>
          <v-text-field
            v-model="form.nome"
            dense
            label="Nome"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="form.descricao"
            dense
            label="Descrição"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="form.valor"
            dense
            label="Valor"
            required
            outlined
          ></v-text-field>

          <v-select
            v-model="form.empresaId"
            dense
            :items="getListCompanies"
            label="Empresa"
            item-text="nomefantasia"
            item-value="id"
            required
            outlined
          ></v-select>
          
          <v-select
            v-model="form.categoriaId"
            dense
            :items="Categories.list"
            item-text="nome"
            item-value="id"
            label="Categoria"
            required
            outlined
          ></v-select>

          <v-btn
            color="success"
            @click="submit()"
          >
            Salvar
          </v-btn>
        </v-form>
      </v-tab-item>
    </v-tabs>

  </v-card>
</template>

<script>
import { mapGetters } from "vuex";

import CompanyMixin from '@/modules/requests/Company'
import CategoryMixin from '@/modules/requests/Category'
import ProductMixin from '@/modules/requests/Product'

export default {
  name: 'CadProduto',
  mixins: [ CompanyMixin, CategoryMixin, ProductMixin ],
  data() {
    return {
      form: {
        nome: '',
        descricao: '',
        valor: 0,
        empresaId: 0,
        categoriaId: 0,
        valorPromocional: 0,
        valido: 1
      },
      list: {
        empresaId: 0
      },
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Nome', value: 'nome' },
        { text: 'Descrição', value: 'descricao' },
        { text: 'Valor', value: 'valor' },
        { text: 'Empresa', value: 'empresaId' },
      ],
      keys: [
        'nome',
        'descricao',
        'empresaId',
        'categoriaId',
        'valor'
      ],
      page: 1,
      itemsPerPage: 2,
      itemsPerPageArray: [2, 4],
      sortDesc: false,
    }
  },
  async created() {
    this.listCompanies()
    this.listCategories()
  },
  watch: {
    'list.empresaId': async function(n, o) {
      if (n != 0) {
        await this.listProducts({ empresa: n })
        
      }
    }
  },
  computed: {
    ...mapGetters('Company', ['getListCompanies']),
    numberOfPages () {
      return Math.ceil(this.Products.list.length / this.itemsPerPage)
    },
    filteredKeys () {
      return this.headers.filter(key => key.value !== `nome`)
    },
  },
  methods: {
    async submit () {
      await this.storeProdutcts(this.form)
    },
    nextPage () {
      if (this.page + 1 <= this.numberOfPages) this.page += 1
    },
    formerPage () {
      if (this.page - 1 >= 1) this.page -= 1
    },
    updateItemsPerPage (number) {
      this.itemsPerPage = number
    },
  }
}
</script>