<template>
  <v-card outlined>
    <v-row class="ml-2 mr-2">
      <v-col sm="12" md="12">
        <div class="overline ml-0">Itens:</div>
      </v-col>
    </v-row>

    <v-row>
      <v-col sm="12" md="12">
        <div class="display-1 ml-4">Restaurante</div>
      </v-col>
      
      <v-col sm="12" md="12">
        <v-list>
          <v-list-item
            v-for="(item, index) in cart"
            :key="'prato-cart-'+index"
          >
            <v-list-item-content>
              <div class="overline mb-4">{{ formatterCategory(item.categoriaId) }}</div>
              <v-list-item-title class="headline mb-1">{{ item.nome }}</v-list-item-title>
              <v-list-item-subtitle>{{ item.descricao }}</v-list-item-subtitle>
            </v-list-item-content>
            
            <div style="display: inline-flex">
              <div class="mt-2 mr-2">R$ {{ item.valor.toFixed(2) }}</div>
              
              <!-- <v-btn icon @click="item.qtd += 1">
                <v-icon>
                  mdi-plus
                </v-icon>
              </v-btn> -->
            </div>

            <div class="ml-5">
              <v-btn icon @click="deleteIten(item, index)" color="red">
                <v-icon>
                  mdi-delete
                </v-icon>
              </v-btn>
            </div>
            
          </v-list-item>
        </v-list>
      </v-col>
    
    </v-row>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CategoryMixin from '@/modules/requests/Category'

export default {
  name: "ListCart",
  mixins: [CategoryMixin],
  data() {
    return {
      items: [
        {
          title: 'Prato 1',
          qtd: 1
        },
        {
          title: 'Prato 2',
          qtd: 1
        }
      ]
    }
  },
  async created() {
    await this.listCategories()
  },
  computed: {
    ...mapGetters('Cart', ['cartValueTotal', 'cart'])
  },
  methods: {
    ...mapActions('Cart', ['deleteItenCart']),
    formatterCategory (id) {
      return this.Categories.list.filter(e => e.id == id)[0].nome || '-'
    },
    async deleteIten (item, index) {
      await this.$swal.fire({
        title: 'Carrinho',
        text: `Deseja escluir o item: ${item.nome} ?`,
        icon: 'question',
        showCancelButton: true,
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Sim, desejo!'
      }).then(async (result) => {
        if (result.value) {
          await this.deleteItenCart(index) 
          this.$swal.fire({
            icon: 'success',
            title: 'Item excluído!',
            showConfirmButton: false,
            timer: 1500
          })
        }
      })
      .catch(e => {
        this.$swal.fire('Erro', 'Não foi possível exlcuir o item', 'error')
      })
    }
  }
}
</script>